:root {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.shopping-nav {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;

  background-color: white;
}

#inno {
  margin-left: 20px;
  font-size: 1.6em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.shopping {
  margin-left: 650px;
}

i {
  margin-right: 10px;
}
.container {
  display: flex;
  width: 100%;
}
.nav-bar {
  width: 20%;
  display: grid;
  padding-top: 30px;
  gap: 20px;
  height: 100%;
  position: fixed;
  align-content: space-between;
  text-align: center;
  background-color: white;
  /* height: 100%; */
  overflow: scroll;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.side-nav {
  display: grid;
}

.side-nav a {
  text-decoration: none;
  color: black;
  line-height: 80px;
  background: white;
  cursor: pointer;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover {
  color: rgb(13, 13, 14);
  background-color: rgb(124, 139, 154);
  border-bottom: 2px solid red;
}

span {
  color: rgb(5, 5, 79);
  font-size: 70px;
}
.main-section {
  width: 80%;
  margin-left: 20%;
}

img {
  width: 100%;
  height: 500px;
}
.banner-text {
  position: absolute;
  top: 15%;
  padding-left: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-btn {
  background-color: rgb(173, 195, 244);
  color: rgb(5, 5, 5);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
  width: 130px;
  height: 50px;
}
.services h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 15px;
}
.product {
  display: flex;
}
.product p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.card {
  margin-left: 25px;
  width: 22%;
}

.card img {
  height: 250px;
}

.subscribe {
  background-color: black;
  color: white;
  font-size: larger;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.submit {
  width: 130px;
  height: 40px;
  background-color: rgb(205, 18, 18);
  color: white;
  margin-top: 30px;
  font-size: large;
  border-radius: 7px;
}

.email {
  width: 90%;
  height: 30px;
}

.contact-form {
  margin-left: 15px;
}

.contact-form input {
  margin-top: 15px;
  width: 270px;
  padding: 10px;
}

.contact-form p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
#submit {
  width: 297px;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.footer {
  display: flex;
}
.footer-about {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
  text-align: center;
}

.footer-about li {
  list-style: none;
  margin-bottom: 20px;
}
.store {
  margin-left: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.copyright {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
}

@media only screen and (max-width: 850px) {
  body {
    display: grid;
  }
  .product {
    display: grid;
  }
  .footer {
    display: grid;
  }
  .footer-about {
    text-align: left;
  }
  .card {
    width: 200px;
  }
}

@media only screen and (max-width: 650px) {
  .shopping-nav {
    display: grid;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .shopping {
    margin-left: 300px;
  }

  .nav-bar {
    width: 100px;
  }
  .nav-bar span {
    font-size: 1.4em;
  }
  .side-nav {
    font-size: 0.7em;
  }
}
